apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "spring-rest-hellworld.fullname" . }}-deployment
  labels:
    {{- include "spring-rest-hellworld.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "spring-rest-hellworld.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "spring-rest-hellworld.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        lifecycle:
          postStart:
            exec:
              command: ["/opt/spring/bin/post-started-app"]
          preStop:
            exec:
              command: ["/opt/spring/bin/pre-stopped-app"]
        ports:
        {{- range $port := .Values.service.ports }}
          - name: {{ $port.name }}
            containerPort: {{ $port.internalPort }}
        {{- end }}
        {{- if .Values.readinessProbe.enabled }}
        livenessProbe:
          httpGet:
            path: {{ .Values.livenessProbe.httpGet.path }}
            port: {{ .Values.livenessProbe.httpGet.port }}
          initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
        {{- end }}
        {{- if .Values.livenessProbe.enabled }}          
        readinessProbe:
          httpGet:
            path: {{ .Values.readinessProbe.httpGet.path }}
            port: {{ .Values.readinessProbe.httpGet.port }}
          initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
        {{- end }}
        envFrom:
          - configMapRef:
              name: {{ include "spring-rest-hellworld.fullname" . }}        
{{- if .Values.resources }}
        resources:
{{ toYaml .Values.resources | indent 12 }}
{{- end }} 
        volumeMounts:
        - name: {{ include "spring-rest-hellworld.fullname" . }}-config-volume
          readOnly: true
          mountPath: {{ .Values.app.config.mountPath }}
          subPath: {{ .Values.app.config.subPath }}
        - name: {{ include "spring-rest-hellworld.fullname" . }}-secret-volume
          readOnly: true
          mountPath: {{ .Values.app.secret.mountPath }}
          subPath: {{ .Values.app.secret.subPath }}
      volumes:
        - name: {{ include "spring-rest-hellworld.fullname" . }}-config-volume
          configMap:
            name: {{ include "spring-rest-hellworld.fullname" . }}-config
            items:
            - key: {{ .Values.app.secret.subPath }}
              path: {{ .Values.app.secret.subPath }}
        - name: {{ include "spring-rest-hellworld.fullname" . }}-secret-volume
          secret:
            secretName: {{ include "spring-rest-hellworld.fullname" . }}-secret
      nodeSelector:
        spring.deploy: "true"
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}